.footer-section {
    font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -5rem;
}

/* styling prezentare-legislatie */
.prezentare-footer-legislatie .footer-section {
    background: linear-gradient(to right, rgba(51, 9, 148, 0.8), rgba(37, 7, 134, 0.8));
}

/* Fallback styling */
.footer-section {
    background: linear-gradient(to right, #700485, #d0309d);
}


@media (max-width: 600px) {
    .footer-section {
        font-size: 18px;
        font-weight: 300;
    }
}

@media (max-width: 600px) {
    .footer-section{
        font-size: 18px;
        font-weight: 300;
    }
}

