.main-content {
  position: relative;
  top: 19vh;
  z-index: 1;
  text-align: center;
}

.main-title {
  font-family: "Roboto", Helvetica, "Helvetica Neue";
  font-size: 49px;
  color: #060606;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-weight: 300;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container__answer {
  font-family: "Roboto", Helvetica, "Helvetica Neue";
  font-size: 30px;
  color: #060606;
  letter-spacing: 1px;
  font-weight: 300;
  display: flex;
}
.main-container__answer p {
  margin-left: 1rem;
  font-size: 16px;
  align-self: center;
  min-width: 9rem;
}
.main-container__answer .answer-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
  border: none;
  background-color: #f5f5f5;
  color: #333333;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 50%;
  aspect-ratio: 1;
  width: 60px;
}
.main-container__answer .answer-button:hover {
  background-color: #553fcf;
  color: #432981;
}

.main-container__answer--selected .answer-button {
  background-color: #553fcf;
  color: #432981;
}
.main-container__answer--selected .answer-button:hover {
  background-color: #f5f5f5;
  color: #333333;
}

.main-container__question {
  font-family: "Roboto", Helvetica, "Helvetica Neue";
  font-size: 30px;
  color: #060606;
  letter-spacing: 1px;
  font-weight: 300;
}
.main-container__question p {
  margin-top: 0;
  margin-bottom: 0;
}

.main-container__image {
  margin-left: 2rem;
}
.main-container__image img {
  width: 40vh;
  height: 40vh;
  border-radius: 10px;
}

.main-container__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.submit-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f5f5f5;
  color: #333333;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 10px;
  align-self: flex-start;
}
.submit-button:hover {
  background-color: #553fcf;
  color: #432981;
}

.progress-bar {
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  height: 30px;
  border: 1px solid #432981;
  margin-bottom: 1rem;
  border-radius: 3px;
}
.progress-bar span {
  background-color: #553fcf;
  display: block;
  width: 100px;
  font-family: "Roboto", Helvetica, "Helvetica Neue";
  color: #f5f5f5;
  line-height: 30px;
  position: absolute;
  text-align: end;
  padding-right: 5px;
}

.main-container__answers-and-question {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: -moz-min-content;
  width: min-content;
  padding-left: 10vh;
  padding-right: 10vh;
}

.main-container__question {
  font-family: "Roboto", Helvetica, "Helvetica Neue";
  min-width: 40vh;
  margin-left: 1rem;
}
.main-container__question p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 1200px) {
  .main-content {
    top: 10vh;
  }
  .main-title {
    font-size: 30px;
  }
  .main-container__answer {
    font-size: 20px;
  }
  .main-container__answer p {
    margin: 0 0.5rem;
  }
  .main-container__answer .answer-button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .main-container__question {
    font-size: 20px;
    flex-direction: row;
  }
  .main-container__question p {
    font-size: 15px;
  }
  .main-container__image img {
    width: 30vh;
    height: 30vh;
  }
  .progress-bar {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .main-container__answers-and-question {
    width: 90%;
    flex-direction: column;
    padding: 1rem;
  }
  .submit-button {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=mediu-invatare.css.map */