$othersColor: #333333;
$theGoodColor: #432981;
$hoverColor: #553fcf;

.main-content {
    position: relative;
    top: 19vh;
    z-index: 1;
    text-align: center;
}

.main-title {
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    font-size: 49px;
    color: #060606;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 300;
}

.main-container {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    font-size: 30px;
    color: #060606;
    letter-spacing: 1px;
    font-weight: 300;

    h2 {
        margin-bottom: 15px;
        color: $theGoodColor;
    }

    p {
        margin: 0;
    }

    a {
        background-color: #f0f0f0;
        padding: 10px;
        text-decoration: none;
        color: $othersColor;
        font-size: 20px;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 5px;
        margin: 30px auto 0;
        width: 50%;
        &:hover {
            background-color: $hoverColor;
            color: #f0f0f0;
        }
    }

    .sections {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;

        p {
            margin: 0;
            text-align: justify;
        }
    }

    ol {
        padding: 0;
    }
    .top-users {
        button {
            cursor: pointer;
            background-color: transparent;
            border: none;
        }
        #info-button {
            cursor: auto;
        }
        #info-tooltip {
            font-size: 1rem;
        }
    }

    .sections__search-bar {
        margin-top: 0.5rem;
        display: flex;
        width: max-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .search-bar__container {
            position: relative;
            .search-icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                width: 24px;
                height: 24px;
                fill: #333;
              }
        }

        input {
            font-family: "Roboto", Helvetica, 'Helvetica Neue';
            font-size: 20px;
            color: #060606;
            letter-spacing: 1px;
            font-weight: 300;
            padding: 0.5rem 1rem;
            border: 1px solid #060606;
            border-radius: 5px;
            width: 100%;
        }
    }
}