.main-title {
    font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
    font-size: 49px;
    color: #060606;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 300;
}

.main-content {
    position: relative;
    top: 19vh;
    z-index: 1;
    text-align: center;
}

.container {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    width: fit-content;
    padding: 2rem 10vh;
}

.container__result {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media (max-width: 1200px){
    .container__result {
        grid-template-columns: repeat(1,1fr);
    }
}

.container__question {
    #question-path {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        font-size: 1rem;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 1rem;
        display: flex;
        flex-direction: row;
        max-width: 400px;
        text-decoration: none;
        padding: 1rem;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }
}

.container__error {
    font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 1rem;
}

.sections__search-bar {
    margin-top: 0.5rem;
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-bar__container {
        position: relative;
        .search-icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            fill: #333;
        }
    }

    input {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        font-size: 20px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        padding: 0.5rem 1rem;
        border: 1px solid #060606;
        border-radius: 5px;
        width: 100%;
    }
}