$othersColor: #333333;
$theGoodColor: #432981;
$hoverColor: #553fcf;

.main-content {
    display: none;
    position: relative;
    top: 19vh;
    z-index: 1;
    text-align: center;
}

.download-csv {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.1s;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    align-self: flex-start;
    &:hover {
        background-color: #553fcf;
        color: #f5f5f5;
    }
}

.login-page {
    display: flex;
    justify-content: center;
}

.main-title {
    font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
    font-size: 30px;
    color: #060606;
    letter-spacing: 1px;
    font-weight: 300;
}

.container {
    p {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        font-size: 15px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        margin-bottom: 8px;
        margin-top: 0;
        padding: 0;
        text-align: justify;
    }

    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: column;
    border-radius: 15px;
    max-width: 720px;
    width: 50%;
    margin: 0 auto;
    h2 {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        font-size: 30px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        margin-bottom: 1rem;
    
    }
}

.dashboard {
    flex-direction: row;
    form {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 1rem;
        padding: 1rem;
    }
}


.container__input {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px 0;

    label {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        font-size: 15px;
        color: #060606;
        font-weight: 300;
    }

    input {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        font-size: 15px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        border: 1px solid #060606;
        border-radius: 5px;
    }
    textarea {
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
    }
}

.submit-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f5f5f5;
    color: $othersColor;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s;
    width: fit-content;
    &:hover {
        background-color: $hoverColor;
        color: $theGoodColor;
    }
    border-radius: 10px;
}

#container__grid {
    display: none; /* Hide by default */
}

#container__grid > p {
    margin-top: 10px; /* Add desired margin-top value here */
}

.results-container {
    display: none; /* Hide by default */
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: hsl(214, 38%, 46%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 720px;
    margin: 1rem auto;
}

.results-container p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: normal; /* Remove bold font weight */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.grid-item {
    background-color: #28a745;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.grid-item.low-score {
    background-color: #dc3545;
}

.grid-item.medium-score {
    background-color: #ffc107;
}

.grid-item.high-score {
    background-color: #28a745;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item p {
    margin: 0;
    margin-bottom: 10px;
}

.grid-item p:last-child {
    margin-bottom: 0;
}

.container__submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #f5f5f5;
        color: $othersColor;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $hoverColor;
            color: $theGoodColor;
        }

        border-radius: 10px;
        align-self: flex-start;
    }
}

.progress-bar {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid $theGoodColor;
    margin-bottom: 1rem;
    border-radius: 3px;
    width: 100%;
    span {
        position: relative;
        background-color: $hoverColor;
        width: 0;
        display: block;
        font-family: "Roboto", Helvetica, 'Helvetica Neue', serif;
        color: #f5f5f5;
        line-height: 20px;
        text-align: end;
        padding-right: 5px;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

}