.footer-section {
    background: linear-gradient(to right, #700485, #d0309d);
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    color: #ffffff;
    
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom : -5rem;
}

@media (max-width: 600px) {
    .footer-section{
        font-size: 18px;
        font-weight: 300;
    }
}

