body, html {
    margin: 0;
    padding: 0;
}

.main-content {
    padding: 20px;
}

.main-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three images per row */
    grid-gap: 4rem; /* Gap between images */
    justify-content: flex-end;
    margin-left: 3.4rem;
    margin-top: 0.3rem;
}


.image-container a {
    display: block; /* Make the anchor tags behave like block elements */
}

.image-container img {
    max-width: 80%;
    height: auto;
    transition: transform 0.3s ease; /* Transition effect for hover */
}

.image-container img:hover {
    transform: scale(0.95); /* Shrink the image on hover */
}

/*smaller screens */
@media (max-width: 768px) {
    .image-container {
        grid-template-columns: 1fr; /* One image per row for screens smaller than 768px */
        justify-content: center; /* Center align images */
        margin-left: 0; /* Remove left margin */
    }
}