/* Default margin for larger screens */
p:first-of-type {
    margin-top: 20vh; /* cu 20vh, daca ar fi text imediat dupa navbar, inca ar fi 
                        neacoperit de acesta */
}

.main-content {
    position: relative;
    top: 28vh; /*value based on the height of your navbar */
    z-index: 1; /*the content is above the navbar */
    text-align: center; /* Center-align the content */
}

.main-title {
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    font-size: 62px; /* Increase font size for emphasis */
    color: #060606;
    letter-spacing: 1px;
    margin-bottom: 15px; /* Reduced margin */
    font-weight: 350; /* Commenting out the bold property */
}

.sub-text {
    font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Use the same sleek font */
    font-size: xx-large; /* Increased font size */ /* font size : 1.5 em ?*/
    font-weight: 300; /* Regular weight */
    color: #201e1e;
    letter-spacing: 0.5px;
    margin-bottom: 25px; /* Reduced margin */
}

.animated-gif {
    max-width: 100%; /* Makes sure the GIF doesn't exceed its container */
    height: auto; /* Maintains the aspect ratio of the GIF */
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-title {
        font-size: 6vw;
    }

    .sub-text {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 8vw;
    }

    .sub-text {
        font-size: 4vw;
    }
}

.special-section {
    background: linear-gradient(to right, #411d96, #6f3be8);
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    color: #ffffff; /* White text color */
    padding: 6rem 0; /* Padding for the space */
    text-align: center; /* Center-align the text */
    font-size: 32px; /* Adjust font size as needed */
    font-weight: 500;
    margin-bottom: 4rem;
}

.special-section p {
    margin: 0; /* Remove default margin */
}

.image-text-container {
    display: flex;
    width: 100%;
}

.image-text-container h2 {
    font-size: 36px; /* Adjust the font size as needed */
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
}

.half-text, .half-text-2 {
    padding: 5rem;
    width: 50%;
    background-color: #c399c3;
    color: whitesmoke;
}

.subtext {
    font-size: 24px; /* Adjust the font size for the subtext */
    margin-top: 1rem; /* Add some top margin */
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
}

.half-image, .half-image-practice {
    width: 50%;
    height: auto;
    object-fit: cover; /* Ensures the image covers the container */
}
