p:first-of-type {
    margin-top: 20vh; /* cu 20vh, daca ar fi text imediat dupa navbar, inca ar fi 
                        neacoperit de acesta */
}

.main-content {
    position: relative;
    top: 28vh; /*value based on the height of the navbar */
    z-index: 1; /* content above the navbar */
    text-align: center;
}

.main-title {
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    font-size: 62px;
    color: #060606;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 350;
}

.sub-text {
    font-family: "Roboto", 'Helvetica Neue', Helvetica, Arial, sans-serif; /* sleek font */
    font-size: xx-large; /* font size : 1.5 em ?*/
    font-weight: 300; 
    color: #201e1e;
    letter-spacing: 0.5px;
    margin-bottom: 25px; 
}

.animated-gif {
    max-width: 100%; /*the GIF doesn't exceed its container */
    height: auto; /* Maintains the aspect ratio*/
    margin-top: 2rem;
    margin-bottom: 4rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .main-title {
        font-size: 6vw;
    }

    .sub-text {
        font-size: 3vw;
    }
}

@media (max-width: 480px) {
    .main-title {
        font-size: 8vw;
    }

    .sub-text {
        font-size: 4vw;
    }
}

.special-section {
    background: linear-gradient(to right, #411d96, #6f3be8);
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    color: #ffffff;
    padding: 6rem 0;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 4rem;
}

.special-section p {
    margin: 0;
}

/*remove the underline from the text*/
a.image-text-container-link {
    text-decoration: none;
    color: inherit; /* Keep the text color as it is */
}

.image-text-container {
    display: flex;
    width: 100%;
}

.image-text-container h2 {
    font-size: 36px;
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
}

.half-text, .half-text-2 {
    padding: 5rem;
    width: 50%;
    background-color: #c399c3;
    color: whitesmoke;
}

.subtext {
    font-size: 24px;
    color: whitesmoke;
}

.half-image, .half-image-practice {
    width: 50%;
    height: auto;
}

.half-image-practice, .half-text-2{
    margin-bottom: 9rem; /*vreau sa existe spatiu intre imagine/text si footer*/
}

@media (max-width: 768px) {
    .image-text-container {
        flex-direction: column; /* Stack items vertically */
    }

    .half-text, .half-text-2 {
        width: 100%;
        margin-bottom: 1rem;
    }

    .half-image {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .half-image-practice {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .half-image-practice, .half-text-2{
        margin-bottom: 4rem; /*vreau sa existe spatiu intre imagine/text si footer*/
    }
}
