*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*culoarea celorlalte elemente, care nu sunt 'brand-ul'*/
$othersColor: #333333;
$theGoodColor: #432981;

.navbar {
    position: fixed;  /* Fixed position */
    top: 0;          /* Positioned at the top */
    left: 0;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    color: #191970;
    font-weight: 450;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Bottom shadow */
    z-index: 1000;   /* To ensure it appears above other elements */
}

.navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh; /* Height of the blue padding */
    background: linear-gradient(to right,#411d96, #2b35bf, rgb(113, 62, 232)); /*#411d96, #6f3be8*/
    z-index: -1; /* Behind the navbar */
}

.brand-title{
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
}

.brand-title a {
    text-decoration: none; /* remove the underline */
    color: inherit; 
}

.navbar-links ul{
    margin-right: 0;
    padding: 0;
    display: flex;
}


.navbar-links li{
    list-style: none;
    margin-top: 2rem;
}

.navbar-links li a{
    text-decoration: none;
    padding: 0.8rem;
    color: $othersColor;
    display: block;
    font-size: 1.3rem;
    text-align: center;
}

.homepage #Practice,
.homepage #Legislație {
    color: #432981; /*standard color */
}

.legislatie-page #Legislație {
    color: yellow; /* Yellow color for the legislation page */
}
.mediu-invatare #Practice {
    color: red; /* Red color for the learning environment page */
}
.login-page #Login {
    color: green; /* Green color for the login page */
}

//pentru mediu de invatare, voi adauga ceva similar

.navbar-links li a:hover{
    color: #553fcf !important;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none; /*mai incolo il schimbi in 'flex'*/
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: $othersColor;
    border-radius: 10px;
}

// da, js-u merge, lasam la 600px
/* pentru ecranele mici */
@media (max-width: 600px) {
    .brand-title {
        margin-top: 0.5rem;
    }
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none; 
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
        height: 8vh;
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        margin-top: 0rem;
        text-align: center;
        background-color: #f0f0f0;
    }

    .navbar-links li a:hover{
        background-color: $theGoodColor;
    }

    .navbar-links.active{
        display: flex;
    }

    .navbar::before{
        height: 1vh;
    }
}

/*
setez marginea la dreapta si culoarea individual
*/
#Practice{
    margin-right: 2rem;
    color: $othersColor;
}

#Legislație{
    margin-right: 2rem;
    color: $othersColor;
}

#Login{
    margin-right: 2rem;
    color: $othersColor;
}