*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

$brandColor: rgb(255, 236, 23);
/*culoarea celorlalte elemente, care nu sunt 'brand-ul'*/
$othersColor: rgb(237, 222, 62);

.navbar {
    position: fixed;  /* Fixed position */
    top: 0;          /* Positioned at the top */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #432981;
    color: $brandColor;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Bottom shadow */
    z-index: 1000;   /* To ensure it appears above other elements */

}

.brand-title{
    font-size: 2rem;
    margin-left: 2rem;
}

.navbar-links ul{
    margin-right: 0;
    padding: 0;
    display: flex;
}


.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    padding: 0.8rem;
    color: white;
    display: block;
    font-size: 1.3rem;
    text-align: center;
}

.navbar-links li:hover{
    background-color: #553fcf;
}

.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none; /*mai incolo il schimbi in 'flex'*/
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: $othersColor;
    border-radius: 10px;
}

// da, js-u merge, lasam la 600px
/* pentru ecranele mici */
@media (max-width: 600px) {
    .toggle-button{
        display: flex;
    }

    .navbar-links{
        display: none; 
        width: 100%;
    }

    .navbar{
        flex-direction: column;
        align-items: flex-start;
    
    }

    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: 0.3rem 0.8rem;
    }

    .navbar-links.active{
        display: flex;
    }
}

/*
setez marginea la dreapta si culoarea individual
*/
#Practice{
    margin-right: 2rem;
    color: $othersColor;
}

#Legislație{
    margin-right: 2rem;
    color: $othersColor;
}

#Login{
    margin-right: 2rem;
    color: $othersColor;
}