p:first-of-type {
    margin-top: 20vh; /* cu 20vh, daca ar fi text imediat dupa navbar, inca ar fi 
                        neacoperit de acesta */
}

.main-content {
    position: relative;
    top: 19vh; 
    z-index: 1;
    text-align: center;
}

.main-title {
    
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    font-size: 49px;
    color: #060606;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 300;
}