$othersColor: #333333;
$theGoodColor: #432981;
$hoverColor: #553fcf;

.main-content {
    position: relative;
    top: 19vh;
    z-index: 1;
    text-align: center;
}

.login-page {
    display: flex;
    justify-content: center;
}

.main-title {
    font-family: "Roboto", Helvetica, 'Helvetica Neue';
    font-size: 30px;
    color: #060606;
    letter-spacing: 1px;
    font-weight: 300;
}

.container {
    p {
        font-family: "Roboto", Helvetica, 'Helvetica Neue';
        font-size: 15px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        text-align: left;
        margin-bottom: 8px;
        margin-top: 0;
        padding: 0;
        text-align: justify;
    }
    margin-top: 3rem;
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 15px;
    max-width: 720px;
    width: fit-content;
    padding-left: 10vh;
    padding-right: 10vh;
    margin: 0 auto;
    h2 {
        font-family: "Roboto", Helvetica, 'Helvetica Neue';
        font-size: 30px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        margin-bottom: 1rem;
    
    }
}


.container__input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0;
    align-items: center;
    justify-content: flex-start;

    label {
        font-family: "Roboto", Helvetica, 'Helvetica Neue';
        font-size: 15px;
        color: #060606;
        font-weight: 300;
        margin-left: 1rem;
    }

    input {
        font-family: "Roboto", Helvetica, 'Helvetica Neue';
        font-size: 15px;
        color: #060606;
        letter-spacing: 1px;
        font-weight: 300;
        border: 1px solid #060606;
        border-radius: 5px;
    }
}

.submit-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f5f5f5;
    color: $othersColor;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s;
    width: fit-content;
    &:hover {
        background-color: $hoverColor;
        color: $theGoodColor;
    }
    border-radius: 10px;
    width: 100%;
}


.container__submit {
    width: fit-content;
    margin-bottom: 1rem;
    button {
        padding: 0.5rem 1rem;
        border: none;
        background-color: #f5f5f5;
        color: $othersColor;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $hoverColor;
            color: $theGoodColor;
        }

        border-radius: 10px;
        align-self: flex-start;
    }
}

.progress-bar {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px solid $theGoodColor;
    margin-bottom: 1rem;
    border-radius: 3px;

    span {
        background-color: $hoverColor;
        display: block;
        width: 100px;
        font-family: "Roboto", Helvetica, 'Helvetica Neue';
        color: #f5f5f5;
        line-height: 20px;
        position: absolute;
        text-align: end;
        padding-right: 5px;
    }
}