<div class="main-content">
    <script src="scripts/adminDashboard.js" defer></script>
    <div class="main-title">
        Dashboard Admin
    </div>
    <button class="download-csv">Descarcă utilizatorii ca CSV</button>
    <div class="container dashboard">
        <form class="container__form" id="add-question">
            <h2>Adaugă o intrebare</h2>
            <div class="container__input text-question">
                <label for="question">Text întrebare:</label>
                <textarea type="text" id="question" required></textarea>
            </div>
            <div class="container__input text-question">
                <label for="question-image">URL Imagine (Opțional):</label>
                <input type="text" id="question-image">
            </div>
            <div class="container__input answer-container">
                <label for="answer-1">Raspuns A:</label>
                <textarea type="text" id="answer-1" required></textarea>
                <input type="checkbox" id="correct-1" name="correct-1" value="A">
            </div>
            <div class="container__input answer-container">
                <label for="answer-2">Raspuns B:</label>
                <textarea type="text" id="answer-2" required></textarea>
                <input type="checkbox" id="correct-2" name="correct-2" value="B">
            </div>
            <div class="container__input answer-container">
                <label for="answer-3">Raspuns C:</label>
                <textarea type="text" id="answer-3" required></textarea>
                <input type="checkbox" id="correct-3" name="correct-3" value="C">
            </div>
            <div class="container__submit">
                <button type="submit">Adaugă întrebare</button>
            </div>
            <div class="container__status">
                <p id="response-status-post"></p>
            </div>
        </form>
        <form class="container__form" id="delete-question">
            <h2>Șterge o intrebare</h2>
            <div class="container__input">
                <label for="question-id">ID întrebare:</label>
                <input type="number" id="question-id" required>
            </div>
            <div class="container__submit">
                <button type="submit">Șterge întrebare</button>
            </div>
            <div class="container__status">
                <p id="response-status-delete"></p>
            </div>
        </form>
    </div>
</div>